h3 {
  color: #139686;
  font-family: 'Times New Roman', sans-serif;
  font-size: 50px;
}

p {
  font-size: 16px;
}

li {
  color: #ECDCE8;
}

h4 {
  font-family: 'Times New Roman', sans-serif;
  font-size: 18px;
}

h5 {
  font-family: 'Times New Roman', sans-serif;
  font-size: 22px;
  color: #ECDCE8;
  line-height: 200%;
  width: 40vw;
}

mark {
  background: none;
  color: #139686;
}

.whyuxo-img img {
  width: 400px;
  height: auto;
}

.whyuxt-img img {
  width: 400px;
  height: auto;
  margin-top: 100px;
}

.whyuxo-wrap ul {
  width: 40vw;
}

.whyuxt-text {
  width: 45vw;
}

.whyuxt-text h3 {
  color: #ECDCE8;
}

/*flexing */
.whyuxo-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  margin-top: 60px;
}

.whyuxt-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  margin-top: 100px;
}